.mainlayout{
    
    margin: 0px;
   
    display: grid;
    min-height: 100vh;
    grid-template-areas: 
    'header'
    'con'
    'footer'
    ;
    grid-template-rows: auto 1fr auto;
    
}

body{
    background-color:#EDF2C5;
    color:#EDF2C5;
    font-family: sans-serif;
    margin: 0 0 0 0;
    height: 100%;
    
    
}



.main{
    width: auto;
    position: relative;
    left: 50%;
    margin-left: -561px;
    
    min-height: 100%; 
    margin-bottom: -60px;
    padding-bottom: 50px;
}


a{
    color: #778A50;
    font-size: 25px;
    margin-right: 5px;
    margin-top: -3px;
    
}

.header{
    width: 1122px;
    height: 62px;
    padding-top: 36px;
    
    display: flex;
    justify-content: space-between;
    grid-area: header;
}

.con{
    grid-area: con;
}

.img2{margin-right: 5px;}

.left{
    display:flex;
    padding-top: 50px;
}

.button {
    border-radius: 4px;
    background-color:#EDF2C5;
    color: #778A50;
    border: 2px solid  #778A50;
    margin-right: 5px;
    font-weight: bold;
    height: 27px;
    width: 62px;
    font-size: 14px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #778A50;
    height: 44px;
    width: 1120px;
}

li {
    float: left;
    display: block;
    text-align: center;
    padding-right:30px;
    padding-left: 30px;
}

h1{
    font-size:44px;
    line-height: normal;
    color:#778A50;
    font-weight: 900;
}

h2{  
    font-size:16px;
    line-height: 150%;
    font-weight: bold;
}

h3{
    font-size:14px;
    line-height: normal;
    
}

h4{
    font-size:12px;
    line-height: 150%;
    font-weight: 400;
}

.primary{background-color:#778A50;
    width: 500px;
    height: 35px;
    padding-left: 28px;
    padding-top: 10px;
}


.content{
    width: 496px;
    height: 139px;
    color:#7D7D7D;
    background-color:#F7FBDA;
    padding-left: 16px;
    padding-top: 1px;
    padding-right: 16px;
    
}

.row{
   
    width: 1120px;
    display: flex;
    justify-content: space-between;
    
}
.col{
    width: 528px;
    height: 201px;
}

.img3{
    display: flex;
    justify-content: space-between;
}

.footer{
    
    background-color:#778A50;
    width: 100%;
    height:55px;
    text-align:center;
    padding-top:5px;
    grid-area: footer;
    
}


